/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* extra resetting------------*/

/* makes all images responsive */

img{
    max-width: 100%;
    height: auto;
}

/* CLASS
    html, body{
    line-height: 1.5rem;
    font-size: 14px;
    font-family: sans-serif;
    color: ·2d2d2d;
*/

/* Typography */
html a:hover{
    color: #e2574c;
}

html, body{
        font-size: 14px;
        font-family: 'Raleway',Arial, sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #2d2d2d;
        line-height: 1.5rem;
}

h1 {
    font-family: 'Playfair Display', arial, sans-serif;
    font-weight: normal;
    font-style: italic;
    padding-top: 20px;
    text-align: center;
}
h1 span{
    font-weight: bold;
    font-style:normal;
}

h2 {
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: Playfair,serif;
    line-height: 1;
    color: #db3a26;
    text-align: center;
}

.hand p {
    font-family: 'Raleway';
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    line-height: 2;
    padding: 20px 200px; 
    text-align: center;
}


/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* HEADER NAVIGATION BAR */
.navigation {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 16vh;
    margin: 0 30px;
    /* padding: 90px; */
    flex-wrap: wrap;
    flex-basis: 50%;
    position: -webkit-sticky;
}

.navigation a {
    color: #ee0000;
    text-decoration: none;
}

.navigation ul {
    display: flex;
    justify-content: space-around;
    /* padding-top: 20px; */
    /* padding-bottom: 10px; */
    margin: 0px;
    flex-basis: 100%;
    order:3;
    border-top: 1px solid grey;
    margin-bottom: 15px;
 }
 .navigation ul li {
    padding: 0 10px;
    color: #ee0000;
    justify-content: space-evenly;
    text-decoration: none;
}
.logo img {
    width: 90px;
    height: 80px;
    min-width: 100px;
    flex-basis: 50%;
    /* align-self: left; */
    order: 1;
}
.icon img {
    width: 100px;
    height: 50px;
    min-width: 100px;
    flex-basis: 50%;
    /* align-self: right; */
    order: 2;
}
.container {
    height: 100vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
      }

/* BANNER */
.banner {
    background-image:url(./images/banner-girl.png), url(./images/flower-bkgd.jpg);
    background-repeat: no-repeat, repeat-x;
    background-position: center 40px, center;
    background-size: contain, auto 100%;
    height: 400px;
    padding: 200px;
    margin: 0px; 
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    /* align-self: center; */
       }

.bannertext{
    text-align: center;
    justify-content: center;
    color: white; 
    line-height: 2;
    
}
.bannertext .new{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 19px;
    justify-content: center;
    text-shadow: 2px 2px 4px #242424;
    width: 300px;
}
.bannertext .summer{
    font-family: 'Playfair Display', Courier, monospace;
    text-align: center;
    font-size: 34px;
    text-shadow: 2px 2px 4px #242424;
    line-height: 1.5;

}
/* HANDCRAFT */
.hand{
    height: 31vh;
    align-items: center;
    justify-content: center;
    /* display: flexbox; */
    font-size: 35px;
    /* margin: 30px; */
    /* padding: 50px; */
  }
.text{
    font-family: 'Playfair Display' Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    line-height: 2;
    padding: 20px;

    }

/* ITEMS SECTION */
.container2{
    /* height: 100vh; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    /* justify-content: space-evenly; */
}

.container2 span {
    font-family: 'Raleway', arial, sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 23px;
    color: white;
    text-transform: uppercase;
}

.container2 span:hover {
    color: lightgoldenrodyellow;
}
a {
    text-decoration: none;
    color: white;
}
.men{
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url(images/mens-category.jpg);
    flex-basis: 100%;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 215px;
    margin-bottom: 8px;
  }
.trend{
    background:linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(images/trends-category.jpg);
    flex-basis: 47.9%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-right-color: 10px solid white; */
    margin-right: 8px;
    height: 212px;
    margin-bottom: 8px;

}
.glasses{
    background:linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(images/glasses-category.jpg);
    flex-basis: 50%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.sale{
    background:linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(images/sale-category.jpg);
    flex-basis: 47.9%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-right-color: 8px solid white; */
    height: 210px;
    margin-bottom: 8px;
    margin-right: 8px;
}
.bags{
    background:linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(images/bags-category.jpg);
    flex-basis: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.womens{
    background:linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(images/womens-category.jpg);
    flex-basis: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 215px;
}

/* MOST LOVE BAR */ 
.main-carousel{
    height: 550px;
    align-content: center;
    margin-bottom: 35px;
} 

.carousel-cell {
    width: 100%; 
    margin-right: 10px;
    justify-content: center;
    text-align: center;
    }

.text5{
    text-align: center;
    font-size: 34px;
    color: black;
    justify-content: center;
    line-height: 40px;
    margin-bottom: 40px;
    padding-top: 45px;
    text-transform: none;
    }

.text-carousel{
    font-size: .75rem;
    text-transform: uppercase;
    text-align: center;
     }
.price{
    color: #969696;
    font-weight: 700;
    text-align: center;
    }


/* NEWSLETTER */
.newsletter{
    background-image:linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url("./images/wave-bkgd.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 330px;
    padding: .2rem 0;
    margin-bottom: 8px;  
    }
.newsletter form{
    position: relative;
    display: block;
    text-align: center;
    width: 80%;
    margin: 0 auto 20px auto;
    }
.text3{
    text-align: center;
    font-family: 'Raleway';
    font-size: 15px;
    color: white;
    justify-content: center;
    line-height: 2;
    font-weight: 0px;
    padding-bottom: 40px;
    margin: 0 15px;
     }

.text4{
    text-align: center;
    font-size: 35px;
    color: white;
    justify-content: center;
    line-height: 50px;
    padding-top: 40px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 4px #242424;
    }

#textbox{
    width: 100%;
    height: 43px;
    font-family: 'Raleway';
    font-size: 13px;
    border-radius: 50px;
    text-align: left;
    position: relative;
    border: none;
    padding-left: 20px;
}
#buttom{
    position: absolute;
    /* left: 124px; */
    top: 2px;
    right: 3px;
    /* bottom: 38px; */
    border-radius: 25px;
    width: 100px;
    height: 39px;
    font-family: 'Raleway';
    color: white;
    background-color: #db3a26;
    }

/* FOOTER */
.site_footer{
    background-color: #242424;
    padding: 3rem;
    color: white;
    height: 300px;
    line-height: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
    }
.container3{
    height: 100vh;
    margin: auto;
    flex: row;
    align-items: center;
    justify-content: space-evenly;
    line-height: 2;
    }

.footer_content{
    text-align: center;
    padding-top: 0px;
    }
 .footer_contenta{
     text-align: center;
     margin: auto 45px;
    }

.footer_contentb{
    text-align: center;
    text-decoration: white;
    }
 .footer_contentc{
    text-align: center;
    color: grey;
    }

.footer_content2{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-top: 40px;
    padding-right: 90px;
    padding-left: 90px;
    }

.footer_content2 li:hover{
    color: #db3a26;
    }

.footer-social{
    display: none;
    width: 50px;
}


    /* NAVIGATION BAR */
    @media screen and (min-width: 600px) {
     
        .navigation {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 100%;
            /* margin: 0 10px; */
            /* padding: 90px; */
            flex-wrap: wrap;
            /* flex-basis: 100%; */
            
        }
        .navigation ul {
            display: flex;
            justify-content: space-evenly;
            padding-top: 32px;
            padding-bottom: 10px;
            /* margin: 0px; */
            flex-basis: 30%;
            order: initial;
            border-top: none;
         }
        .navigation ul li {
            padding: 0 10px;
            color: orangered;
            justify-content: space-evenly;
            text-decoration: none;
        }
        .logo img {
            /* width: 90px; */
            height: 80px;
            min-width: 130px;
            /* flex-basis: 50%; */
            /* align-self: left; */
            order: 1;
        }
        .icon img {
            width: 100px;
            height: 50px;
            min-width: 100px;
            flex-basis: 50%;
            /* align-self: right; */
            order: 3;
        }
        .container {
            /* height: 100vh; */
            /* margin: auto; */
            display: flex;
            /* flex-wrap: wrap; */
            /* align-items: stretch; */
            /* justify-content: space-evenly; */
              }
    }


    @media screen and (min-width: 600px){

        .banner {
            background-image: url(./images/banner-girl.png), url(./images/flower-bkgd.jpg);
            background-repeat: no-repeat, repeat-x;
            background-position: center 80px, center;
            background-size: contain, auto 100%;
            height: 550px;
            padding: 200px;
            margin: 0px; 
            display: flex;
            /* text-align: center; */
            align-items: center;
            justify-content: center;
            /* align-self: center; */
               }

        .bannertext{
            text-align: center;
            justify-content: center;
            color: white; 
            line-height: 2;
            
        }
        .bannertext .new{
            font-family: 'Raleway', sans-serif;
            text-align: center;
            font-size: 20px;
            justify-content: center;
            text-shadow: 2px 2px 4px #242424;
            width: 600px;
        }
        .bannertext .summer{
            font-family: 'playfair Display', Courier, monospace;
            text-align: center;
            font-size: 60px;
            text-shadow: 2px 2px 4px #242424;
        
        }
    }


    /* IMAGES SECTION */
    @media screen and (min-width: 600px){
        .container2{
            margin: 0;
            flex-wrap: wrap;
            align-items: none;
            
        }
        .men{
            flex-basis: 50%;
            background-size: cover;
            background-position: center;
            justify-content: center;
            align-items: center;
            display: flex;
            height: 270px;
            margin-bottom: 8px;
            width: 100%;
            border-right: 8px solid white;
          }
        .trend{
            flex-basis: 25%;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            /* border-right-color: 10px solid white; */
            margin-right: 0px;
            height: 270px;
            margin-bottom: 8px;
            border-right: 8px solid white;
        
        }
        .glasses{
            flex-basis: 25%;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 8px;
        }
        .sale{
            flex-basis: 25%;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 8px solid white;
            height: 270px;
            margin-right: 0px;
            
        }
        .bags{
            flex-basis: 25%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 8px solid white;

        }
        .womens{
            flex-basis: 50%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 270px;
            margin-right: 0px;            
        }
    }
    /* HANDCRAFT STYLES */
    @media screen and (min-width: 600px){
        .hand{
            height: 35vh;
            align-items: center;
            justify-content: center;
            /* display: flexbox; */
            font-size: 42px;
            margin: 0px;
            /* padding: 50px; */
          }

        .text{
            text-align: center;
            font-size: 40px;
            color: black;
            justify-content: center;
            line-height: 50px;
             }
             .hand p {
                line-height: 2;
                font-size: 1.2rem;
                padding: 20px 50px;
        
            }
            h1 {
                font-family: 'Playfair Display', arial, sans-serif;
                font-weight: normal;
                font-style: italic;
                /* padding-top: 0px; */
            }
            h1 span{
                font-weight: bold;
                font-style:normal;
            }  
    }
    /* CAROUSEL */
    @media screen and (min-width: 600px){
        .main-carousel{
            align-content: center;
            /* border-bottom: 60px; */
            max-width: 1240px;
            margin: auto;
            margin-bottom: 50px;
        } 
    
        .carousel-cell {
            position: absolute;
            left: 60%;
            width: 300px;
      }
      .text5{
        text-align: center;
        font-size: 34px;
        color: black;
        justify-content: center;
        line-height: 40px;
        margin-bottom: 0px;
        padding-top: 45px;
        text-transform: none;
        }
       
    }
    /* NEWSLETTER SECTION */
    @media screen and (min-width: 600px){
        .newsletter{
            background-image:linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url("./images/wave-bkgd.jpg");
            background-size: auto;
            background-repeat: no-repeat;
            background-position: bottom;
            height: 340px;
            padding: .2rem 0;
            margin-bottom: 8px;
            
        }
        .newsletter form{
            position: relative;
            display: block;
            text-align: center;
            width: 30%;
            margin: 0 auto 20px auto;
        }

        .text3{
            text-align: center;
            font-family: 'Raleway';
            font-size: 18px;
            color: white;
            justify-content: center;
            line-height: 2;
            font-weight: 0px;
            padding-bottom: 50px;
            padding-left: 190px;
            padding-right: 190px;
            }

        #textbox{
        /* width: 300%; */
        height: 40px;
        font-family: 'Raleway';
        font-size: 13px;
        border-radius: 50px;
        text-align: left;
        position: relative;
        border: none;
        padding-left: 20px;
        }

        #buttom{
            position: absolute;
            /* left: 124px; */
            top: 2px;
            right: 3px;
            /* bottom: 38px; */
            border-radius: 25px;
            width: 100px;
            height: 35px;
            font-family: 'Raleway';
            color: white;
            background-color: #e2574c;

}
    }
/* FOOTER */
    @media screen and (min-width: 600px){
        .site_footer{
            background-color: #242424;
            padding: 3rem;
            color: white;
            height: 300px;
            line-height: 2;
            text-align: center;
            flex-direction: row;
        }
        .container3{
            height: 100vh;
            margin: auto;
            display: flex;
            flex: row;
            align-items: center;
            justify-content: space-evenly;
            line-height: 2;
        }
        
        .footer_content{
            text-align: center;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            padding-top: 0px;
        }
        .footer_contenta{
            text-align: left;
            margin: 2px auto;
        }

        .footer_contentb{
            text-align: left;
            text-decoration: white;
        }
        .footer_contentc{
            text-align: left;
        }
        .footer_content2{
            text-align: center;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            padding-top: 0px;
            padding-left: 800px;
            padding-right: 10px;
            line-height: .3px;
        }
        .footer_content2 li{ 
            display: flex;
            align-items: center;
        } 
        .footer_content2 span{
            padding-left: 8px;
            
        }
        .footer_content2 li:hover{
            color: #e2574c;

        }
        .footer-social{
            display: flex;
        }
    }